---
---
@import "{{ site.theme }}";
a{
  color: #159957; 
}
#my-title{
display: none;
}
footer {
display: none;
}

table tbody tr td:nth-child(3n) {
  color: brown; 
  width: 50%;
}
table tbody tr td:nth-child(1n) {
  color: brown; 
  width: 20%;
}
table tbody tr td:nth-child(2n) {
  color: brown; 
  width: 20%;
}
