---
---
@import "{{ site.theme }}";
a{
  color: #159957; 
}
#my-title{
display: none;
}

.site-footer-owner a[href="https://github.com/alidehkhodaei/categorized-websites"] {
  /* Hide existing text */
  color: transparent;
  /* Set replacement text */
  /* Add any other styles as needed */
}

.site-footer-owner a[href="https://github.com/alidehkhodaei/categorized-websites"]::after {
  content: "Your Text Here"; /* Replace "Your Text Here" with the desired text */
  /* Add any other styles as needed */
}
